body,div{
	font: 400 1em/1.5 PingFang SC,Lantinghei SC,Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans
}

ul{
	padding-left: 0;
}

li{
	list-style-type: none;
}

a{
	color: #fff;
}

a:hover, a:active, a:visited, a:link{
	text-decoration: none;
	color: #fff;
}

.clear{
	clear: both;
}

input,button,select,textarea{outline:none!important}

input:focus {outline: none;}

.split{
	width: 100%;
    height: 16px;
    border-top: 1px solid rgba(7,17,27,0.1);
    border-bottom: 1px solid rgba(7,17,27,0.1);
    background: #f3f5f7;
}

.fadeModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 39;
}

input::-webkit-input-placeholder{
	color: #ccc;
}
